In [19]:
import numpy as np
import pandas as pd

In [20]:
file = '../data/scalability_test/result3.csv'
data = pd.read_csv(file)

In [21]:
data

,size,num_dep_indep,number_splitby,cluster,num_round,time_mean,time_std
0,1000,4,4,8,10,0.009655,0.007589
1,1000,4,8,8,10,0.011051,0.011993
2,1000,4,16,8,10,0.014106,0.021296
3,1000,8,4,8,10,0.013284,0.018819
4,1000,8,8,8,10,0.019254,0.036301
...,...,...,...,...,...,...,...
76,100000,8,8,32,10,0.053870,0.140196
77,100000,8,16,32,10,0.086177,0.236743
78,100000,16,4,32,10,0.093313,0.258596
79,100000,16,8,32,10,0.170834,0.484227
80,100000,16,16,32,10,0.318823,0.937842

In [26]:
pivot_table = pd.pivot_table(data, values= 'time_mean', index=['size', 'num_dep_indep'], columns=['number_splitby', 'cluster'])
pivot_table

number_splitby              4                             8             \
cluster                     8         16        32        8         16
size   num_dep_indep
1000   4              0.009655  0.009333  0.012818  0.011051  0.011845
       8              0.013284  0.018151  0.029603  0.019254  0.029804
       16             0.029610  0.047713  0.098979  0.048020  0.088048
10000  4              0.008279  0.009890  0.012184  0.010073  0.012634
       8              0.012654  0.018123  0.029328  0.017709  0.029061
       16             0.028587  0.047385  0.087202  0.045128  0.084714
100000 4              0.009402  0.010587  0.013036  0.011442  0.014141
       8              0.013821  0.019197  0.029747  0.021259  0.028700
       16             0.032251  0.046979  0.093313  0.050107  0.091137

number_splitby                        16
cluster                     32        8         16        32
size   num_dep_indep
1000   4              0.016675  0.014106  0.016316  0.026645
       8              0.048164  0.028746  0.047053  0.083833
       16             0.170466  0.071346  0.158049  0.276077
10000  4              0.017945  0.012945  0.016055  0.027526
       8              0.047321  0.027228  0.047355  0.082006
       16             0.186255  0.079981  0.158420  0.299021
100000 4              0.018375  0.015037  0.021141  0.027574
       8              0.053870  0.031754  0.045200  0.086177
       16             0.170834  0.094882  0.160218  0.318823

In [25]:
pivot_table.to_csv('temp.csv')